{{ form_start(form) }}
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.rubrique) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.titre) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                {{ form_row(form.contenu) }}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                {{ form_row(form.photo) }}
            </div>
        </div>
    </div>
    {{ form_widget(form) }}
    <div class="text-right">
        <input type="hidden" name="ancien_media" value="{{ presentation.photo }}">
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>

{{ form_end(form) }}
