{{ form_start(form) }}
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-12">{{ form_row(form.titre) }}</div>
                    <div class="col-12 mt-3">{{ form_row(form.ordre) }}</div>
                </div>
            </div>
            <div class="col-md-8">
                {{ form_row(form.contenu) }}
            </div>
        </div>
    </div>
    {{ form_widget(form) }}
    <div class="text-right mt-5">
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
