{% extends 'backoffice_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion des departements{% endblock %}

{% block body %}
    <div class="page-content-wrapper dashboard">

        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Gestion des departements </h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="mt-0 header-title">Enregistrement</h4>

                            {{ include('departement/_form.html.twig') }}

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('backoffice/plugins/select2/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('backoffice/css/bootstrap-tagsinput.css') }}">
    <link rel="stylesheet" href="{{ asset('backoffice/plugins/summernote/summernote-bs4.css') }}">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <style>
        .summernote{
            background-color: transparent !important;
        }
    </style>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('backoffice/plugins/select2/select2.min.js') }}"></script>
    <script src="{{ asset('backoffice/js/bootstrap-tagsinput.min.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/summernote/summernote-bs4.min.js') }}"></script>
    <script src="{{ asset('backoffice/pages/form-summernote.init.js') }}"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
{% endblock %}
