{% extends 'base.html.twig' %}
{% block title %}Organigrammes de l'Aumnerie Militaire Catholique du Diocèse d'Abidjan{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="ariane">
                    <li class="ariane-item"><a href="{{ path('app_accueil') }}"><i class="fa fa-home"></i></a></li>&raquo;
                    <li class="ariane-item">Qui sommes-nous?</li>&raquo;
                    <li class="ariane-item active">Les departements</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 page-secondaire">
                <h4 class="barre-orange"><div class="point"></div>Organigramme de l'Aumonerie Militaire Catholique du Diocese d'Abidjan</h4>

            </div>
        </div>
    </div>
    <div class="organigramme text-center mt-5 mb-5" style="margin-bottom: 150px;">
        <ul>
            <li>
                <a href="#" class="description">PRESIDENCE
                    <span>
                        <div>- Aumonier</div>
                        <div>- Vice-Président</div>
                        <div>- Conseillers</div>
                    </span>
                </a>
                <ul>
                    {% for departement in departements %}
                        <li>
                            <a href="#{{ departement.slug }}{{ departement.id }}">{{ departement.titre|upper }}</a>
                            {% if departement.ordre == 3 %}
                                <ul>
                                    <li><a href="#">SERVICE OPERATIONNEL</a></li>
                                    <li><a href="#">SERVICE LITURGIQUE</a></li>
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <div class="separateur" style="margin-top: 100px;">.</div>
    <div class="container" style="margin-bottom: 300px; margin-top: 200px;">
        <div class="row mt-5">
            <div class="col-12 accordion" id="missionDepartement">
                {% for departement in departements %}
                    <div class="card" id="{{ departement.slug }}{{ departement.id }}">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button"
                                        data-toggle="collapse" data-target="#{{ departement.slug }}"
                                        aria-expanded="true" aria-controls="collapseOne">
                                    {{ departement.titre }}
                                </button>
                            </h2>
                        </div>

                        <div id="{{ departement.slug }}" class="collapse" aria-labelledby="headingOne"
                             data-parent="#missionDepartement">
                            <div class="card-body">
                                {{ departement.contenu|raw}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}